Jinja2==2.6
Pygments==1.4
Sphinx==1.1.2
distribute==0.6.19
docutils==0.8.1
logilab-astng==0.23.0
logilab-common==0.57.1
nose==1.1.2
pep8==0.6.1
pylint==0.25.0
python-xlib==0.15rc1
-e git://github.com/dequis/xpyb-ng.git@816304fd44ef5bb8548c09dd4419da0d9e17a1b5#egg=xpyb-dev
