[Unit]
Description=qtile window manager
PartOf=qtile-session.target
Wants=qtile-session.target
After=qtile-session.target graphical-session-pre.target

[Service]
Type=exec
# If you have installed from source, you should probably use this line:
# ExecStart=%h/.local/bin/qtile start
ExecStart=/usr/bin/qtile start
ExecStopPost=/usr/bin/systemctl --user stop graphical-session.target
Restart=on-failure
TimeoutStopSec=10s
