
.pageindex ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0px;
}

.pageindex li { 
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0; 
}

.pageindex li.active {
    padding-left: 4px;
    border-left: 5px solid #ff0000;
}

.pageindex li.inactive{
    border-left: none;
    margin-left: 9px;
}

.pageindex li li a {
    display: block;
    background-color: transparent;
    margin: 0;
    border-top: none;
    border-bottom: none;
}

.pageindex ul ul {
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}


#yui-main h1 {
    font-size: 170%;
}

.commandtable th {
    text-align: left;
}

.commandtable td p {
    margin-bottom: 0px;
}
