
.pageindex a {
    color: #437095;
}


.pageindex a:hover {
    color: #437095;
}


body {
    font-family:Georgia,serif;
    font-size:15px;
}

#hd h1 {
    font-size:      2em;
    font-weight:    bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    margin-bottom:  15px;
}

.highlight pre {
    border-bottom:      1px solid #CCCCCC;
    border-top:         1px solid #CCCCCC;
    padding:            10px;
    background:         #e8e8e8 none repeat scroll 0% 0%;
    margin-bottom:      10px;
    overflow:           auto;
}

.grokdoc {
    background:         transparent !important;
}

.grokdoc_module {
    background:         #F8F8F8;
    padding: 5px;
}

.grokdoc_vartable {
    margin-bottom: 10px;
}

.grokdoc_vartable p {
    margin: 0px;
}

.grokdoc_class {
    background:         #e8e8e8;
    padding:            5px;
}

.output {
    border-bottom:      1px solid #CCCCCC;
    border-top:         1px solid #CCCCCC;
    padding:            10px;
    background:         #F8F8F8 none repeat scroll 0% 0%;
    margin-bottom:      10px;
    overflow:           auto;
}

#ft {
    padding:    10px 15px 17px 10px;
    font-size:  0.8em;
}

.commanddoc {
    margin:             10px;
    background:         #e8e8e8 none repeat scroll 0% 0%;
    padding:            5px;
}

.commanddoc .highlight pre {
    background:         #d8d8d8 none repeat scroll 0% 0%;
    border-bottom:      1px solid #CCCCCC;
    border-top:         1px solid #CCCCCC;
    padding:            10px;
    margin-bottom:      10px;
    overflow:           auto;
}

dl {
    margin: 0px;
    margin-top: 5px;
}

dt {
    font-weight:  bold;
}
