{% extends "_base/attribute.html.jinja" %}

{% block contents scoped %}
    {{ super() }}

    {# Render attribute members! #}
    {% set root = False %}
    {% set heading_level = heading_level + 1 %}
    {% include "children"|get_template with context %}
{% endblock contents %}
