# ReadTheDocs currently builds on Ubuntu 20.04 which
# seems to have some mismatch of the libffi library
# and the latest release of cffi.
# We can pin the version here for the docs build.
cffi<=1.15.0
setuptools_scm
# Sphinx 7.0.0 is not currently supported by the sphinx RTD theme
sphinx<7.0.0
sphinx_rtd_theme
funcparserlib==1.0.0a0
numpydoc
pytest
PyGObject
dbus-fast
cairocffi>=1.6.0
xcffib>=1.4.0
libcst>=1.0.0
readthedocs-sphinx-ext
