name: Publish to PyPI
on:
  push:
    branches-ignore: ['*']
    tags: ['*']
  release:
    types: [published]
permissions:
  id-token: write
  contents: read
jobs:
  wheel-tests:
    name: Build and test wheels
    uses: ./.github/workflows/wheel-tests.yml
  build-source:
    name: Build source
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_34_x86_64
    env:
      python-version: "cp3.13"
    steps:
      - name: Install dependencies
        run: dnf install -y cairo-devel libffi-devel
      - uses: actions/checkout@v4
      - name: Set environment variables
        run: |
          PYTHON_ROOT=$(find /opt/python -name ${PYTHON_VERSION/./}-${PYTHON_VERSION/./})
          echo "${PYTHON_ROOT}/bin" >> $GITHUB_PATH
        shell: bash
        env:
          PYTHON_VERSION: ${{ env.python-version }}
      - name: Build source
        run: |
          python -m pip install build
          python -m build --sdist .
      - name: Upload source
        uses: actions/upload-artifact@v4
        with:
          name: source
          path: dist/*.tar.gz
  upload-wheel:
    name: Upload wheels
    runs-on: ubuntu-latest
    needs: [wheel-tests, build-source]
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: Download wheels
        if: ${{ matrix.manual-version == '' }}
        uses: actions/download-artifact@v4
        with:
          name: wheels-cp${{ matrix.python-version }}
          path: dist/
      - name: Download wheels (manual)
        if: ${{ matrix.manual-version != '' }}
        uses: actions/download-artifact@v4
        with:
          name: wheels-${{ matrix.manual-version }}
          path: dist/
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'release'
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'push'
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
  upload-source:
    name: Upload source
    runs-on: ubuntu-latest
    needs: [wheel-tests, build-source]
    env:
      python-version: "cp3.13"
    steps:
      - name: Download source
        uses: actions/download-artifact@v4
        with:
          name: source
          path: dist/
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'release'
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: github.event_name == 'push'
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          verbose: true
